# --- alteran example generated: begin ---
.DS_Store
Thumbs.db
.runtime/
activate
activate.bat
alteran.json
deno.json
deno.lock
dist/
apps/
tools/
libs/
tests/
# --- alteran example generated: end ---
